.card-wrapper {
  display: inline-block;
  padding: 25px 0;
}

.card {
  background-color: $bg-gray;
  overflow: hidden;
  text-align: center;

  display: inline-block;
  width: 100%;

  .img-wrapper {
    height: 200px;
    background-color: $gray;
    overflow: hidden;
  }

  .btn {
    padding: 10px 20px;
    background-color: $gray;
    color: $bg-gray;
  }

  .hoverable:hover {
    background-color: $gray-dark;
  }

  .card-description {
    padding: 0 20px 20px 20px;
  }
}
