.card-wrapper {
  display: inline-block;
  padding: 25px 0;
}

.card {
  background-color: $bg-gray;
  overflow: hidden;
  text-align: center;

  display: inline-block;
  width: 100%;

  .card-description {
    padding: 0 20px 20px 20px;

    a {
      background-color: $bg-button;
      border-radius: 4px;
      padding: 10px 20px;

      display: inline-block;

      font-weight: bold;
      color: $bg-gray;
      text-decoration: none;
      text-transform: uppercase;
    }
  }
}
