.header {
  height: 75px;
  width: 100%;

  position: fixed;
  top: 0px;
  left: 0px;

  background-color: $bg-default;

  -webkit-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
  box-shadow: 0px 2px 2px 0px rgba(0,0,0,0.2);
}

.header-push {
  padding-bottom: 75px;
}
