.paginator {
  // margin-bottom: 600px;
  ul {
    text-align: center;
    padding-left: 0px;
    white-space: nowrap;
    li {
      border: solid 1px $bg-button;

      width: 100%;
      max-width: 35px;
      height: 35px;

      list-style: none;
      display: inline-block;
      margin: 0 5px;
      border-radius: 5px;

      position: relative;

      font-weight: bold;
      color: $bg-button;

      &.active {
        background-color: $bg-button;
        color: white;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:first-child:before {
        content:'<';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:last-child:before {
        content:'>';
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }
    }
  }
}
