.paginator {
  ul {
    text-align: center;
    padding-left: 0px;
    white-space: nowrap;
    li {
      border: solid 1px $gray;

      width: 100%;
      max-width: 35px;
      height: 35px;

      list-style: none;
      display: inline-block;
      margin: 0 5px;
      border-radius: 5px;

      position: relative;

      font-weight: bold;
      color: $gray;

      &.hoverable:hover {
        background-color: $gray-dark;
        color: $bg-default;
      }

      &.active {
        background-color: $gray;
        color: $bg-default;
      }

      span {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
      }

      &:first-child:before {
        content: url(./svg/arrow.svg);
        position: absolute;

        display: inline-block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-55%, -55%) rotate(180deg);
      }

      &:last-child:before {
        content: url(./svg/arrow.svg);
        position: absolute;

        display: inline-block;
        width: 20px;
        height: 20px;
        top: 50%;
        left: 50%;
        transform: translate(-45%, -45%);
      }
    }
  }
}
