.card-wrapper {
  max-width: 50%;

  &:nth-child(even) {
    padding-left: 25px;
  }

  &:nth-child(odd) {
    padding-right: 25px;
  }
}

.paginator {
  ul {
    li {
      max-width: 40px;
      height: 40px;
    }
  }
}

.select {
  width: 280px;
}
