$bg-gray: #eee;
$bg-default: #fff;


$smartphones: 320px; // Breakpoint para smartphones
$tablets: 768px; // Breakpoint para tablets
$desktops: 1024px; //  Breakpoint para desktops

$gray-dark: #8b8b8b;
$gray: #cbcbcb;
