@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: 'Open Sans', sans-serif;
  margin: 0; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  padding: 0 25px; }

.paginator ul li {
  width: 20px;
  height: 20px; }

.paginator ul {
  text-align: center;
  padding-left: 0px;
  white-space: nowrap; }
  .paginator ul li {
    border: solid 1px #cbcbcb;
    width: 100%;
    max-width: 35px;
    height: 35px;
    list-style: none;
    display: inline-block;
    margin: 0 5px;
    border-radius: 5px;
    position: relative;
    font-weight: bold;
    color: #cbcbcb; }
    .paginator ul li.active {
      background-color: #cbcbcb;
      color: #fff; }
    .paginator ul li span {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .paginator ul li:first-child:before {
      content: '<';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }
    .paginator ul li:last-child:before {
      content: '>';
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%); }

.card-wrapper {
  display: inline-block;
  padding: 25px 0; }

.card {
  background-color: #eee;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  width: 100%;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3); }
  .card img {
    width: 100%; }
  .card .card-description {
    padding: 0 20px 20px 20px; }
    .card .card-description h3 {
      text-transform: uppercase;
      color: #8b8b8b;
      margin: 10px 0px; }
    .card .card-description p {
      color: #909090;
      line-height: 1.2em; }
    .card .card-description a {
      background-color: #cbcbcb;
      border-radius: 4px;
      padding: 10px 20px;
      display: inline-block;
      font-weight: bold;
      color: #eee;
      text-decoration: none;
      text-transform: uppercase; }

.header {
  height: 75px;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background-color: #fff;
  -webkit-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2);
  box-shadow: 0px 2px 2px 0px rgba(0, 0, 0, 0.2); }

.header-push {
  padding-bottom: 75px; }

@media screen and (min-width: 768px) and (max-width: 1024px) {
  .card-wrapper {
    max-width: 50%; }
    .card-wrapper:nth-child(even) {
      padding-left: 25px; }
    .card-wrapper:nth-child(odd) {
      padding-right: 25px; }
  .paginator ul li {
    max-width: 40px;
    height: 40px; } }

@media screen and (min-width: 1024px) {
  body {
    padding: 0 60px; }
  .card-wrapper {
    max-width: 33.333333333333%; }
    .card-wrapper:nth-child(3n-2) {
      padding-right: 32px; }
    .card-wrapper:nth-child(3n-1) {
      padding-right: 16px;
      padding-left: 16px; }
    .card-wrapper:nth-child(3n) {
      padding-left: 32px; }
  .paginator ul li {
    max-width: 40px;
    height: 40px; } }
