@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
body {
  font-family: 'Open Sans', sans-serif; }

*,
*::before,
*::after {
  box-sizing: border-box; }

body {
  padding: 0 25px; }

@media screen and (min-width: 768px) {
  .card {
    max-width: 50%; } }

@media screen and (min-width: 1024px) {
  .card {
    max-width: 33.3333333333%; } }

.card {
  background-color: #eee;
  overflow: hidden;
  text-align: center;
  border-radius: 5px;
  display: inline-block;
  margin: 25px 0;
  -webkit-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  -moz-box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3);
  box-shadow: 3px 3px 5px 0px rgba(0, 0, 0, 0.3); }
  .card img {
    width: 100%; }
  .card .card-description {
    padding: 0 20px 20px 20px; }
    .card .card-description h3 {
      text-transform: uppercase;
      color: #8b8b8b;
      margin: 10px 0px; }
    .card .card-description p {
      color: #909090;
      line-height: 1.2em; }
    .card .card-description a {
      background-color: #cbcbcb;
      border-radius: 4px;
      padding: 10px 20px;
      display: inline-block;
      font-weight: bold;
      color: #eee;
      text-decoration: none;
      text-transform: uppercase; }
